.container-cart{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.notificacion::before{
    position: absolute;
    content: '1';
    top: 3px;
    right: 35px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 2px 5px 5px 5px;
    background-color: red;
    border-radius: 50%;
    line-height: 100%;
}