.container-items-dark{
    width: 100%;
    height: 70vh;
    background-color: black;
    color: white
}

.container-items-light{
    width: 100%;
    height: 70vh;
    background-color: burlywood;
    color: black;
}